<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
</head>
<div class="container mt-4">
  <div class="row">
    <!-- Character cards -->
    <div
      class="col-md-4 col-sm-6 mb-3"
      *ngFor="let character of characters"
      aria-label="Character card"
    >
      <div class="card character-card mb-3" role="region">
        <div class="container">
          <div class="row no-gutters">
            <!-- Character Info on the left -->
            <div class="col-4">
              <div class="card-body">
                <h3 id="character-name-{{character.id}}" class="card-title">{{ character.name }}</h3>
                <p class="card-text">
                  <strong>Class:</strong> {{ character.class }}
                </p>
                <p class="card-text">
                  <strong>Level:</strong> {{ character.level }}
                </p>
              </div>
            </div>

            <!-- Character Image on the right -->
            <div class="card-image col-8">
              <div class="justify-content-end text-end">
                <ng-container *ngIf="character.imageBase64; else noImage">
                  <img
                    [src]="character.imageBase64"
                    [alt]="character.name + ' character image'"
                    class="img-fluid character-image"
                  />
                </ng-container>

                <ng-template #noImage>
                  <i
                    class="fas fa-user fa-6x placeholder-image p-2"
                    aria-hidden="true"
                  ></i>
                  <span class="sr-only">No image available</span>
                  <!-- Screen reader text for no image available -->
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <!-- Folder-tab-like Buttons Attached Outside on the Bottom Left -->
        <div class="tab-buttons" aria-label="Character actions">
          <button
            class="btn btn-light"
            *ngIf="character.id"
            (click)="deleteCharacter(character.id)"
            [attr.aria-label]="'Delete'+ character.name">
            <i class="fas fa-trash-alt" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-light"
            (click)="editCharacter(character)"
            [attr.aria-label]="'Edit '+ character.name"
          >
            <i class="fas fa-pen" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-light"
            (click)="startBattle(character)"
            [attr.aria-label]="'Start battle with '+character.name"
          >
            <i class="fas fa-play" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Add new character card -->
    <div class="col-md-4 col-sm-6">
      <div class="card new-character-card text-center" role="region">
        <div class="card-body d-flex align-items-center justify-content-center">
          <button class="btn btn-lg" (click)="goCreation()" aria-label="Add new character">
            <i class="fas fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
